<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Slider-range component</title>
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    
</head>
<body>
    <form id="contact" action="http://xisachas.dmalksm.com" method="POST">
        <div>
            <label for="name">Name</label>
            <input type="text" id="name" name="name">
        </div>
        <div>
            <label for="email">Email</label>
            <input type="email" id="email" name="email">
        </div>
        <div>
            <label for="phone">Phone</label>
            <input type="tel" id="phone" name="phone">
        </div>
        <div>
            <input type="checkbox" id="cbox1" value="first_checkbox"> 
            <label for="cbox1">Este es mi primer checkbox</label>

            <input type="checkbox" id="cbox2" value="second_checkbox"> 
            <label for="cbox2">Este es mi segundo checkbox</label>
        </div>
        <fieldset>
            <legend>Select a maintenance drone:</legend>
            <div>
              <input type="radio" id="huey" name="drone" value="huey"
                     checked>
              <label for="huey">Huey</label>
            </div>
        
            <div>
              <input type="radio" id="dewey" name="drone" value="dewey">
              <label for="dewey">Dewey</label>
            </div>
        
            <div>
              <input type="radio" id="louie" name="drone" value="louie">
              <label for="louie">Louie</label>
            </div>
        </fieldset>

        <div data-upload="upload-field">
            <div class="c-field c-input c-upload {{ $classField }}">
                <input
                    type="file"
                    id="upload-field"
                    data-upload-field="upload-field"
                >
                <span class="c-upload__file-name" data-upload-name="upload-field"></span>
            </div>
        </div>

        <div data-upload="upload-field-2">
            <div class="c-field c-input c-upload {{ $classField }}">
                <input
                    type="file"
                    id="upload-field-2"
                    data-upload-field="upload-field-2"
                >
                <span class="c-upload__file-name" data-upload-name="upload-field-2"></span>
            </div>
        </div>            

        <button type="submit">Send</button>
    </form>
    <div id="container"></div>
    <div id="custom-containser"></div>

    <script src="public/js/form-handler.js"></script>
    <script>
        const form = new FormHandler('contact')
    </script>
</body>
</html>